@{
    ViewData["Title"] = "Página de Seguidores";
    int contar = ((IEnumerable<object>)ViewBag.Following).Count();
    int contar2 = ((IEnumerable<object>)ViewBag.Followed).Count();
}

<div class="col">
    <div class="no-config p-3">
        <div class="row">
            <div class="col box-follow-select" id="following" onclick="changeList(1)">
                <h6 class="no-config text-select">SEGUINDO (@contar)</h6>
            </div>
            <div class="col box-follow-select" id="followed" onclick="changeList(2)">
                <h6 class="no-config text-select">SEGUIDORES (@contar2)</h6>
            </div>
        </div>
        <div class="w-100 col d-flex flex-column justify-content-center align-items-center" style="padding-top: 15px;">
            <div id="seguindo-lista" class="w-100">
                @if (ViewBag.Following != null)
                {
                    <h5>Seguindo:</h5>
                    <ul>
                        @foreach (var following in ViewBag.Following)
                        {
                            <div class="card w-100 mt-3">
                                <div class="card-body p-4 text-black">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            @if (following.User_Following?.PictureLocal != null)
                                            {
                                                <img src="@following.User_Following?.PictureLocal"
                                                     alt="Imagem genérica" class="img-fluid rounded-circle"
                                                     style="width: 70px; height: 70px;">
                                            }
                                            else
                                            {
                                                <img src="https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2024/03/26/kaiju-no-8-to1unk3bslyo.jpg"
                                                     alt="Imagem genérica" class="img-fluid rounded-circle"
                                                     style="width: 70px; height: 70px;">
                                            }
                                        </div>
                                        <div class="flex-grow-1 ms-3 h-100 d-flex align-content-center">
                                            <h6 style="font-size: 1.5rem; color: #e8e8e8; overflow: hidden; text-overflow:ellipsis; background-color: rebeccapurple; height:30px">@following.User_Following?.Name</h6>
                                        </div>
                                        <form asp-action="Unfollow" asp-controller="Aplication" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="followedId" value="@following.User_Following.Id" />
                                            <button type="submit" class="btn btn-outline-light btn-rounded btn-sm d-flex justify-content-center">- Seguir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                }
                else
                {
                    <h5>Você não está seguindo ninguém ainda.</h5>
                }
            </div>

            <div id="seguidores-lista" style="display: none;" class="w-100">
                @if (ViewBag.Followed != null)
                {
                    <h5>Seguidores:</h5>
                    <ul>
                        @foreach (var follower in ViewBag.Followed)
                        {
                            <div class="card w-100 mt-3">
                                <div class="card-body p-4 text-black">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            @if (follower.User_Followed?.PictureLocal != null)
                                            {
                                                <img src="@follower.User_Followed?.PictureLocal"
                                                     alt="Imagem genérica" class="img-fluid rounded-circle"
                                                     style="width: 70px; height: 70px;">
                                            }
                                            else
                                            {
                                                <img src="https://www.otempo.com.br/content/dam/otempo/editorias/entretenimento/filmes-e-series/2023/10/entretenimento-pluto-como-o-anime-da-netflix-se-conecta-a-astro-boy-1708750812.jpeg"
                                                     alt="Imagem genérica" class="img-fluid rounded-circle"
                                                     style="width: 70px; height: 70px;">
                                            }
                                        </div>
                                        <div class="flex-grow-1 ms-3 h-100 d-flex align-content-center">
                                            <h6 style="font-size: 1.5rem; color: #e8e8e8; overflow: hidden; text-overflow:ellipsis;">@follower.User_Followed?.Name</h6>
                                        </div>
                                        <form asp-action="Follow" asp-controller="Aplication" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="followedId" value="@follower.User_Followed.Id" />
                                            <button type="submit" class="btn btn-outline-light btn-rounded btn-sm d-flex justify-content-center">+ Seguir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                }
                else
                {
                    <h5>Você não tem seguidores ainda.</h5>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .box-follow {
        background-color: gray;
        height: 45%;
        margin: 1rem;
        border-radius: 15px;
        overflow: hidden;
    }

    .box-follow-select {
        text-align: center;
        height: 30px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #292929;
        border-radius: 50px;
        cursor: pointer;
    }

        .box-follow-select:hover {
            background-color: #F3F6A1;
            border-radius: 50px;
        }

    .select-follow {
        background-color: #F4F440;
        border-radius: 50px;
    }

    .card {
        background-color: #292929;
        border-radius: 15px;
    }
</style>

<script>
    var followingTab = document.getElementById('following');
    var followersTab = document.getElementById('followed');
    var followingList = document.getElementById('seguindo-lista');
    var followersList = document.getElementById('seguidores-lista');

    followingTab.classList.add('select-follow');
    followingList.style.display = 'block';
    followersList.style.display = 'none';

    function changeList(index) {
        if (index === 1) {
            followingTab.classList.add('select-follow');
            followersTab.classList.remove('select-follow');
            followingList.style.display = 'block';
            followersList.style.display = 'none';
        } else {
            followingTab.classList.remove('select-follow');
            followersTab.classList.add('select-follow');
            followingList.style.display = 'none';
            followersList.style.display = 'block';
        }
    }
</script>
